<a href="https://colab.research.google.com/github/HanJeongGyu/python-1/blob/main/day10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
def my_avg(x1, x2):
    """
    This function calculates average value of two numbers
    x1: first input number
    x2: second input number
    """
    avg_val = (float(x1) + float(x2))/2
    return avg_val

In [3]:
def func2(a, b):
    print(f'{a} 곱하기 {b} = {a * b}')

# 함수 호출
func2(1, 2)
func2(1, 3)
func2(2, 4)

1 곱하기 2 = 2
1 곱하기 3 = 3
2 곱하기 4 = 8

In [4]:
def func3():
    return "abcdefg"

# 함수 호출

a = func3()
print(a + "GG")

abcdefgGG

In [5]:
def func4(a, b):
    return a * b

# 함수 호출
c = func4(3, 9)
print(c)

27

In [6]:
#for문 활용
for i in range(1, 10):
    print(f'{2} x {i} = {2 * i}')
for i in range(1, 10):
    print(f'{3} x {i} = {3 * i}')

# ...
for i in range(1, 10):
    print(f'{9} x {i} = {9 * i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [7]:
#함수 활용
def gugudan(num):
    for i in range(1, 10):
        print(f'{num} x {i} = {num * i}')

# 구구단 출력
gugudan(2)
gugudan(3)
# ...
gugudan(9)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [8]:
def func1(a, b=5, c=10):
    return a + b + c

func1(1, 2, 3)  # 1 + 2 + 3
func1(1, 2)  # 1 + 2 + 10
func1(1)  # 1 + 5 + 10

16

In [9]:
def func2(a=10, b=20):
    return a + b

func2(1, 2)  # 1 + 2
func2(1)  # 1 + 20
func2()  # 10 + 20

30

In [12]:
def func6(*args):
    a = 0
    for i in args:
        a = a + i
    return a


b = func6(1, 2)
print(b)

c = func6(2, 3, 4, 5)
print(c)

d = func6(1, 2, 3, 4, 5, 4, 3, 2, 1)
print(d)

e = func6()
print(e)

def 함수이름 (*매개변수):
    수행문장
    return 반환값

def test(*val):
    for i in val:
        print(i)

test(1, 'a', 'c', 3)

3
14
25
0
1
a
c
3

In [14]:
def sum_mul(choice, *val):
    if choice =='sum':
       result = 0
       for i in val:
        result  = result + i
    elif choice == 'mul':
       result = 0
       for i in val:
        result  = result * i
    return result


print (sum_mul('sum', 1,2,3,4,5))

15

In [15]:
def comp (score=0):
    if score == 0:
        return 0
    elif score > 50:
        return 2
    else:
        return 1

grade = comp (40)
print ("Grade is ", grade, " for ", 40)

grade = comp (80)
print ("Grade is ", grade, " for ", 80)

grade = comp ()
print ("Grade is ", grade, "for no score")

Grade is  1  for  40
Grade is  2  for  80
Grade is  0 for no score

In [16]:
def report(name, age, score):
    print(name, score)

report(age=10, name="Kim", score=80)

Kim 80